APP_ENV=local
PUBLIC_API_ADDR=:8080
ADMIN_API_ADDR=:8081
WORKER_ADDR=:8082
MYSQL_DSN=root:root@tcp(127.0.0.1:3306)/pvecloud?parseTime=true&loc=Local
REDIS_ADDR=127.0.0.1:6379
JWT_WEB_SECRET=change-me-web
JWT_ADMIN_SECRET=change-me-admin
