root = "."
tmp_dir = "tmp"

[build]
  cmd = "go build -o ./tmp/server.exe ./cmd/server/main.go"
  entrypoint = "./tmp/server.exe"
  include_ext = ["go", "yaml"]
  exclude_dir = ["tmp", "vendor"]
  exclude_file = []
  exclude_regex = ["_test\\.go$"]
  delay = 500
  stop_on_error = true
  log = "air.log"

[log]
  time = true

[color]
  main = "yellow"
  watcher = "cyan"
  build = "green"
  runner = "white"

[misc]
  clean_on_exit = true
